*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.ipynb_checkpoints
Chapter1_Introduction.ipynb

Chapter2 MorePyMC.ipynb

Chapter3 IntroMCMC.ipynb

Chapter4 LawOfLargeNumbers.ipynb

Chapter5 LossFunctions.ipynb

Pivotal Test.ipynb

Prototyping.ipynb

Realytics.ipynb

Recommender Assignments.ipynb

SVD vs. PCA.ipynb

pivotal for real.ipynb
